[Unit]
Description=Gunicorn instance to serve itnsa app
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/itnsa
Environment="PATH=/srv/itnsa/.venv/bin"
ExecStart=/srv/itnsa/.venv/bin/gunicorn --workers 3 --bind unix:itnsa.sock -m 007 itnsa:create_app()

[Install]
WantedBy=multi-user.target