upstream flask_app {
    zone flask_app 64k;
    server 127.0.0.1:8000;
    keepalive 32;
}

server {
    listen                  443 ssl http2;
    listen                  [::]:443 ssl http2;
    server_name             {{ domain_name }};
    root                    {{ document_root }};

    # SSL
    include                 custom/ssl.conf;


    # security
    include                 custom/security.conf;

    # logging
    access_log              /var/log/nginx/{{ domain_name }}.access.log combined buffer=512k flush=1m;
    error_log               /var/log/nginx/{{ domain_name }}.error.log warn;

    # reverse proxy
    location / {
        proxy_pass           http://flask_app;
        include              custom/proxy.conf;
    }

    # additional config
    include                   custom/general.conf;

    # max upload size
    client_max_body_size 100M;
}

# subdomains redirect
server {
    listen                  443 ssl http2;
    listen                  [::]:443 ssl http2;
    server_name             {{ subdomain_name }};

    # SSL
    include                 custom/ssl.conf;
    return                  301 https://{{ domain_name }}$request_uri;
}

# HTTP redirect
server {
    listen      80;
    listen      [::]:80;
    server_name .{{ domain_name }};
    include     custom/letsencrypt.conf;

    location / {
        return 301 https://{{ domain_name }}$request_uri;
    }
}